<a href="https://colab.research.google.com/github/ebyasin63-web/ict-_assignments/blob/main/ASSIGNMENT_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Python function to find the Max of three numbers

In [ ]:
result = max_of_three(10, 25, 15)
print(f"The maximum of 10, 25, and 15 is: {result}")

result_2 = max_of_three(-5, 0, 3)
print(f"The maximum of -5, 0, and 3 is: {result_2}")

The maximum of 10, 25, and 15 is: 25
The maximum of -5, 0, and 3 is: 3

### 2. Python function to sum all the numbers in a list
Sample List: `[18, 12, 30, 10, 7]` Expected Output: `77`

In [ ]:
sample_list = [18, 12, 30, 10, 7]
list_sum = sum_list_numbers(sample_list)
print(f"The sum of numbers in {sample_list} is: {list_sum}")

The sum of numbers in [18, 12, 30, 10, 7] is: 77

### 3. Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [ ]:
my_list = [10, 20, 30, 40, 50]
print(f"Original list: {my_list}")

number_to_insert = 99
position_to_insert = 2

if 0 <= position_to_insert <= len(my_list):
    my_list.insert(position_to_insert, number_to_insert)
    print(f"List after inserting {number_to_insert} at position {position_to_insert}: {my_list}")
else:
    print(f"Invalid position {position_to_insert}. Position must be between 0 and {len(my_list)}.")

Original list: [10, 20, 30, 40, 50]
List after inserting 99 at position 2: [10, 20, 99, 30, 40, 50]

### 4. Write a program to rename a key `city` to `location` in the following dictionary.
`sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}`

In [ ]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
print(f"Original dictionary: {sample_dict}")

if 'city' in sample_dict:
    sample_dict['location'] = sample_dict.pop('city')

print(f"Dictionary after renaming 'city' to 'location': {sample_dict}")

Original dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
Dictionary after renaming 'city' to 'location': {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

### 5. Write a Python program to change Bradâ€™s salary to `8500` in the following dictionary.
`sample_dict = {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}`

In [ ]:
sample_dict_nested = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
print(f"Original dictionary: {sample_dict_nested}")

for emp_id, emp_info in sample_dict_nested.items():
    if emp_info.get('name') == 'Brad':
        emp_info['salary'] = 8500
        break

print(f"Dictionary after updating Brad's salary: {sample_dict_nested}")

Original dictionary: {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
Dictionary after updating Brad's salary: {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

### 6. Write a program to copy elements `44` and `55` from the following tuple into a new tuple.
Given: `tuple1 = (11, 22, 33, 44, 55, 66)`

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)
print(f"Original tuple: {tuple1}")


new_tuple_method1 = (tuple1[3], tuple1[4])
print(f"New tuple (Method 1): {new_tuple_method1}")

elements_to_copy = [44, 55]
new_tuple_method3 = tuple(item for item in tuple1 if item in elements_to_copy)
print(f"New tuple (Method 3): {new_tuple_method3}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple (Method 1): (44, 55)
New tuple (Method 3): (44, 55)

### 7. Counts the number of occurrences of item `50` from a tuple
`tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)`

In [ ]:
tuple_to_count = (50, 10, 60, 70, 50, 83, 567, 50, 81)
item_to_find = 50
print(f"Original tuple: {tuple_to_count}")

occurrences = tuple_to_count.count(item_to_find)

print(f"The number of occurrences of {item_to_find} in the tuple is: {occurrences}")

Original tuple: (50, 10, 60, 70, 50, 83, 567, 50, 81)
The number of occurrences of 50 in the tuple is: 3