<a href="https://colab.research.google.com/github/ebyasin63-web/ict-_assignments/blob/main/ASSIGNMENT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
p1= int(input('enter the item 1 price'))
q1= int(input('enter the item 1 quantity'))
p2= int(input('enter the item 2 price '))
q2= int(input('enter the item 2 quantity'))

total_bill = p1*q1+p2*q2
print('total bill : ,',total_bill)

enter the item 1 price45
enter the item 1 quantity3
enter the item 2 price 30
enter the item 2 quantity2
total bill : , 195

In [ ]:
t= int(input('enter temp in celsius'))
F=(t*9/5)+32
print('temperature in fahrenheit: ',F)

enter temp in celsius30
temperature in fahrenheit:  86.0

In [ ]:
s = int(input('enter basic salary'))
hra=(0.2*s)
da=(0.1*s)
net_salary=s+hra+da

print('net salary:',net_salary)

enter basic salary20000
net salary: 26000.0

In [ ]:
p = int(input('enter pricipal amount' ,))
r = int(input('enter rate of intrest' ,))
T = int(input('enter time in year' ,))
s1 = (p*r*T)/100

print('simple intrest:',s1)

enter pricipal amount1000
enter rate of intrest5
enter time in year2
simple intrest: 100.0

In [ ]:
time=int(input('enter total minute'))
hour=time//60
minute=time%60
print('hour:',hour)
print('minute:',minute)

enter total minute130
hour: 2
minute: 10

In [ ]:
w = int(input('enter the weight'))
h = float(input('enter the height'))
bmi=w/(h*h)
print('bmi:',bmi)

enter the weight60
enter the height1.65
bmi: 22.03856749311295

In [ ]:
p=int(input('enter the originl:'))
d=int(input('enter tghe discout'))
discount=p*(d/100)
new_price= p-discount
print('discont pricde:',new_price)

enter the originl:1200
enter tghe discout10
discont pricde: 1080.0

In [31]:
p = int(input('enter side a'))
q = int(input('enter side b'))
d = int(input('enetr side c'))
s=  (p+q+d)/2
import math
area = math.sqrt(s*(s-p)*(s-q)*(s-d))
print('area of triangle:',area)

enter side a5
enter side b6
enetr side c7
area of triangle: 14.696938456699069

In [28]:
from IPython.core.display import Math
s1=int(input("Enter first side :"))
s2=int(input("Enter second side :"))
s3=int(input("Enter third side :"))
s=(s1+s2+s3)/2
import math
area=math.sqrt(s*(s-s1)*(s-s2)*(s-s3))
print("Area of a tringle :",area)

Enter first side :5
Enter second side :6
Enter third side :7
Area of a tringle : 14.696938456699069

In [29]:
p=int(input("Enter wall length (in meters) :"))
d=int(input("Enter wall height (in meters) :"))
window_area=1.5*1.2
wall_area=p*d
paint_area=wall_area-window_area
cost=paint_area*25
print("Total area to be painted :",paint_area)
print("Total cost :",cost)

Enter wall length (in meters) :12
Enter wall height (in meters) :8
Total area to be painted : 94.2
Total cost : 2355.0